.cell {
  width: 40px;
  height: 40px;
  border: 3px white solid;
  text-align: center;
  cursor: pointer;
  border-collapse:collapse;
  font-size: xx-large;
  line-height: 40px;
}

table {
  border: 5px solid black;
  border-spacing: 0;
  border-collapse:collapse;
  background-color: rgb(237, 200, 146);
  margin-left: auto;
  margin-right: auto;
}

body > *:not(script, table){
  margin: 50px auto;
  width: 50%;
  text-align: center;
}