body {
  background-color: antiquewhite;
}

.main > :not(table) {
  margin: 50px auto;
  width: 50%;
  text-align: center;
}

#hint {
  background-color: antiquewhite;
  border: 2px solid blanchedalmond;
  padding: 10px;
}

table {
  border: 5px solid black;
  border-spacing: 0;
  border-collapse:collapse;
  background-color: rgb(237, 200, 146);
  margin-left: auto;
  margin-right: auto;
}

.cell {
  width: 40px;
  height: 40px;
  border: 3px white solid;
  text-align: center;
  cursor: pointer;
  border-collapse:collapse;
  font-size: xx-large;
  line-height: 40px;
  user-select: none;
}

.cell:hover {
  background-color: rgb(243, 200, 136);
}

.cell:active {
  background-color: rgb(238, 184, 102);
}


.message {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  transition: 1.7s cubic-bezier(0, 1.14, 0.14, 0.94);
}

.show-message {
  top: 10px;
  opacity: 1;
}

.normal {
  color: rgb(132, 169, 255);
  background-color: aliceblue;
  border: 2px solid rgb(164, 191, 255);
}

.error {
  background-color: rgb(255, 240, 240);
  border: 2px solid rgb(255, 164, 164);
  color: rgb(255, 132, 132);
}

.warning {
  background-color: rgb(255, 246, 240);
  border: 2px solid rgb(255, 199, 164);
  color: rgb(255, 179, 132);
}